{{!< default}}

{{#post}}

<div id="header" class="header{{#if feature_image}} has-cover{{/if}}">
	<div class="inner">
		<span class="header-title">
			<h1 class="header-name">{{{title}}}</h1>
		</span>
	</div>
	{{#if feature_image}}
		<div class="header-cover" style="background-image: url('{{feature_image}}');"></div>
	{{/if}}
</div>

<article class="{{post_class}}">
  <div class="inner">
    <section class="post-content">
      {{content}}
    </section>
  </div>
</article>
{{/post}}
